:root{
--azulfraco: #ADC8D9;
--branco: #F2F2F0;
--laranja: #F25C05;
--laranjaforte: #F24405 ;
--Preto: #0D0D0D ;
}
/*trocar para a nova paleta de cores*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root, body, html{
  height: 100vh;
}