
:root{
--vermelho: #BC4749;
--bege: #E7C8A7;
--branco: #F2E8CF ; 
--verde: #6A994E ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, body, html{
  height: 100vh;
  font-family: var(--body-font);
  background-color: var(--branco);
}

 